<div class="container">
  <div class="text">
    <h2>System Configuration</h2>
  </div>
  <form (ngSubmit)="updateConfiguration()">
    <div class="form-row">
      <div class="input-data">
        <input
          type="number"
          id="totalTickets"
          [(ngModel)]="configuration.totalTickets"
          name="totalTickets"
          required
        />
        <label for="totalTickets">Total Tickets</label>
      </div>
      <div class="input-data">
        <input
          type="number"
          id="maxTicketCapacity"
          [(ngModel)]="configuration.maxTicketCapacity"
          name="maxTicketCapacity"
          required
        />
        <label for="maxTicketCapacity">Max Ticket Capacity</label>
      </div>
    </div>

    <div class="form-row">
      <div class="input-data">
        <input
          type="number"
          id="ticketReleaseRate"
          [(ngModel)]="ticketReleaseRate"
          name="ticketReleaseRate"
          required
        />
        <label for="ticketReleaseRate">Ticket Release Rate</label>
      </div>
      <div class="input-data">
        <input
          type="number"
          id="customerRetrievalRate"
          [(ngModel)]="customerRetrievalRate"
          name="customerRetrievalRate"
          required
        />
        <label for="customerRetrievalRate">Customer Retrieval Rate</label>
      </div>
    </div>

    <div class="form-row">
      <div class="input-data">
        <input
          type="number"
          id="vendorCount"
          [(ngModel)]="configuration.vendorCount"
          name="vendorCount"
          required
        />
        <label for="vendorCount">Vendor Count</label>
      </div>
      <div class="input-data">
        <input
          type="number"
          id="customerCount"
          [(ngModel)]="configuration.customerCount"
          name="customerCount"
          required
        />
        <label for="customerCount">Customer Count</label>
      </div>
    </div>

    <div class="button-row">
      <button type="submit" class="primary-button">Update Configuration</button>
      <button [routerLink]="'/tickets'" class="secondary-button">
        Continue
      </button>
    </div>
  </form>
</div>
